## Register Overview

The Pokémon mini maps $2000 \~ $20FF as hardware control registers. This area is reserved for hardware related functions such as video, audio, general purpose timers, hardware I/O, and system control.

Much of this address space is mapped as [Open-Bus](/glossary.md#open-bus), leading us to believe that this area is not used for any purpose. Other areas respond to requests but their purpose is yet undetermined.

Registers tend to be controlled on a bit level, so for the sanity purposes, they will be broken down to this level. At any point they are shown spanning multiple columns, that indicates that it is a multi-bit value and should be treated as if they were a number.

The bits themselves come in four flavors: Read-only, Write-Only, Read-Write, and S-R Strobe. Write-Only registers typically return a zero value, and are generally only used for things such as resetting timers. S-R Strobes are used for clearing interrupt events, writting a logical '1' to any bit that is set will result in a bit being cleared, where as '0' leaves them unchanged. Unused bits always return '0'.

Any register not included on this list reads as [Open-Bus](/glossary.md#open-bus) and will be excluded unless a function has otherwise been determined.

## Register Mapping

{% set colors = {
  "x": "#808080",
  "rw": "#80ff80",
  "ro": "#00ffff",
  "wo": "#ffff00",
  "sr": "#ffcc00",
  "rwb": "#00ffc0",
  "unk-rw": "#c0ff00",
  "unk-q": "#c0ffc0",
  "unk-x": "#c0c0c0",
} -%}

{% macro table_start(caption) -%}
<table style="text-align: center;">
<caption><strong>{{caption}}</strong></caption>
<tr>
{%- endmacro -%}

{% macro olink(text, link) -%}
    {%- if link -%}
        <a href="{{ link }}">{{ text }}</a>
    {%- else -%}
        {{ text }}
    {%- endif -%}
{%- endmacro -%}

{% macro register(address, pmh="", natural="", rowspan=1, link="") -%}
</tr><tr id="user-content-{{ address }}">
<td>{{ address }}</td>
{%- if pmh or natural -%}
<td rowspan="{{ rowspan }}">
    {%- if pmh -%}
        {{ olink(pmh, link) }}
        {%- if natural -%}
            <br/>{{ natural }}
        {%- endif -%}
    {%- elif natural -%}
        {{ olink(natural, link) }}
    {%- endif -%}
</td>
{%- endif -%}
{%- endmacro -%}

{% macro unk_register(address, comment="", rowspan=1) -%}
</tr><tr>
<td>{{ address }}</td>
<td rowspan="{{ rowspan }}">Unknown{% if comment %} ({{ comment }}){% endif %}</td>
{%- endmacro -%}

{% macro unk_reg_cont(address) -%}
</tr><tr>
<td>{{ address }}</td>
{%- endmacro -%}

{% macro td(name, content, color, colspan=1, link="") -%}
<td style="border: 2px solid; background-color:{{ colors[color] }};"
    {%- if colspan > 1 %} colspan="{{ colspan }}" {%- endif -%}
>
    {%- if name -%}
        {{ olink(name, link) }}
        {%- if content -%}
            <br/>{{ content }}
        {%- endif -%}
    {%- elif content -%}
        {{ olink(content, link) }}
    {%- else -%}
        &nbsp;
    {%- endif -%}
</td>
{%- endmacro -%}

{%- macro unused(bits, color="x") -%}
{{ td("", "", color, bits) }}
{%- endmacro -%}

{% macro table_end() -%}
</tr>
</table>
{%- endmacro -%}

{{ table_start("Register Map Legend") }}
{{ td("", "Unused", "x") }}
{{ td("", "Read/Write", "rw") }}
{{ td("", "Read Only", "ro") }}
{{ td("", "Write Only", "wo") }}
{{ td("", "S-R Strobe", "sr") }}
{{ td("", "Read/Write (BIOS, Software only)", "rwb") }}
{{ td("", "Unknown (Read/Write)", "unk-rw") }}
{{ td("", "Unknown (Weird)", "unk-q") }}
{{ td("", "Unknown (Unused)", "unk-x") }}
{{ table_end() }}

{{ table_start("Registers ($2000 to $20FF)") }}
<th style="border: 2px solid;">Address</th>
<th style="border: 2px solid;">Register</th>
{% for i in range(7, -1, -1) -%}
<th style="border: 2px solid; width:60px;">&lt;&nbsp;Bit&nbsp;{{ i }}&nbsp;&gt;</th>
{% endfor -%}
{{ register("$00", "SYS_CTRL", "System Control", 3) }}
{{ td("", "Startup Contrast", "rwb", 6, "lcd.md#startup-contrast") }}
{{ td("CE1", "Cartridge I/O Enable", "rw", 1, "chip-enable.md") }}
{{ td("CE0", "LCD I/O Enable", "rw", 1, "chip-enable.md") }}
{{ register("$01") }}
{{ td("01.7", "", "rwb", 1, "01-7.md") }}
{{ td("01.6", "", "rwb", 1, "01-6.md") }}
{{ td("", "System is awake", "rwb", 1, "awake.md") }}
{{ td("01.4", "", "rwb", 1, "01-4.md") }}
{{ td("", "Multicart game mode", "rwb", 4, "multicart.md") }}
{{ register("$02") }}
{{ td("EBR", "", "unk-rw", 1, "ebr.md") }}
{{ td("02.6", "Cart needs power", "rwb", 1, "power.md#2002-bit-6") }}
{{ td("02.5", "Suspended", "rwb", 1, "suspended.md") }}
{{ td("02.4", "Copy of OSCC", "rwb", 1, "02-4.md") }}
{{ td("CLKCHG", "CPU osc", "rw", 1, "osc.md#clkchg") }}
{{ td("OSCC", "OSC3 on", "rw", 1, "osc.md#oscc") }}
{{ td("VDC", "System voltage", "rw", 2, "vdc.md") }}
{{ register("$08", "SEC_CTRL", "Second Counter Control", 1, "timers.md#seconds-timer") }}
{{ unused(6) }}
{{ td("STRST", "Reset", "wo") }}
{{ td("STRUN", "Enable", "rw") }}
{{ register("$09", "SEC_CNT", "Second Counter", 3, "timers.md#seconds-timer") }}
{{ td("STD", "Counter (low)", "ro", 8) }}
{{ register("$0A") }}
{{ td("STD", "Counter (mid)", "ro", 8) }}
{{ register("$0B") }}
{{ td("STD", "Counter (high)", "ro", 8) }}
{{ register("$10", "SYS_BATT", "Battery Sensor", 1, "svd.md") }}
{{ unused(2) }}
{{ td("SVDDT", "Low Battery", "ro") }}
{{ td("SVDON", "Battery ADC control", "rw") }}
{{ td("SVDS", "Battery ADC threshold value", "rw", 4) }}
{{ register("$18", "TMR1_SCALE", "PTM_A Prescalars", 1, "timers.md#ptm_a") }}
{{ td("PRPRT1", "Enable Hi", "rw") }}
{{ td("PST1", "Hi Scalar", "rw", 3) }}
{{ td("PRPRT0", "Enable Lo", "rw") }}
{{ td("PST0", "Lo Scalar", "rw", 3) }}
{{ register("$19", "TMR1_OSC", "PTM_A Osc. Select", 1, "timers.md#ptm_a") }}
{{ unused(2) }}
{{ td("", "Enable OSC3?", "rw") }}
{{ td("", "Enable OSC1?", "rw") }}
{{ unused(2) }}
{{ td("PRTF1", "Use OSC1 (Hi)", "rw") }}
{{ td("PRTF0", "Use OSC1 (Lo)", "rw") }}
{{ register("$1A", "TMR2_SCALE", "PTM_B Prescalars", 1, "timers.md#ptm_b") }}
{{ td("PRPRT3", "Enable Hi", "rw") }}
{{ td("PST3", "Hi Scalar", "rw", 3) }}
{{ td("PRPRT2", "Enable Lo", "rw") }}
{{ td("PST2", "Lo Scalar", "rw", 3) }}
{{ register("$1B", "TMR2_OSC", "PTM_B Osc. Select", 1, "timers.md#ptm_b") }}
{{ unused(6) }}
{{ td("PRTF3", "Use OSC1 (Hi)", "rw") }}
{{ td("PRTF2", "Use OSC1 (Lo)", "rw") }}
{{ register("$1C", "TMR3_SCALE", "PTM_C Prescalars", 1, "timers.md#ptm_c") }}
{{ td("PRPRT5", "Enable Hi", "rw") }}
{{ td("PST5", "Hi Scalar", "rw", 3) }}
{{ td("PRPRT4", "Enable Lo", "rw") }}
{{ td("PST4", "Lo Scalar", "rw", 3) }}
{{ register("$1D", "TMR3_OSC", "PTM_C Osc. Select", 1, "timers.md#ptm_c") }}
{{ unused(6) }}
{{ td("PRTF5", "Use OSC1 (Hi)", "rw") }}
{{ td("PRTF4", "Use OSC1 (Lo)", "rw") }}
{{ register("$20", "IRQ_PRI", "IRQ Priority", 3, "irq.md") }}
{{ td("PLCD", "IRQ 06h ~ 08h", "rw", 2) }}
{{ td("PPTB", "IRQ 0Ah ~ 0Ch", "rw", 2) }}
{{ td("PPTA", "IRQ 0Eh ~ 10h", "rw", 2) }}
{{ td("PPTC", "IRQ 12h ~ 14h", "rw", 2) }}
{{ register("$21") }}
{{ td("PTM", "IRQ 16h ~ 1Ch", "rw", 2) }}
{{ td("PK1", "IRQ 26h ~ 28h", "rw", 2) }}
{{ td("PK0", "IRQ 2Ah ~ 38h", "rw", 2) }}
{{ td("", "IRQ ??? (3Ah ~ 3Eh)", "rw", 2) }}
{{ register("$22") }}
{{ unused(6) }}
{{ td("PP0", "IRQ 1Eh~20h", "rw", 2) }}
{{ register("$23", "IRQ_ENA", "IRQ Enable", 4, "irq.md") }}
{{ td("ELCD", "IRQ 06h", "rw") }}
{{ td("ELCFR", "IRQ 08h", "rw") }}
{{ td("ETU3", "IRQ 0Ah", "rw") }}
{{ td("ETU2", "IRQ 0Ch", "rw") }}
{{ td("ETU1", "IRQ 0Eh", "rw") }}
{{ td("ETU0", "IRQ 10h", "rw") }}
{{ td("ETU5", "IRQ 12h", "rw") }}
{{ td("ETC5", "IRQ 14h", "rw") }}
{{ register("$24") }}
{{ unused(2) }}
{{ td("ETM32", "IRQ 16h", "rw") }}
{{ td("ETM8", "IRQ 18h", "rw") }}
{{ td("ETM2", "IRQ 1Ah", "rw") }}
{{ td("ETM1", "IRQ 1Ch", "rw") }}
{{ td("EK11", "IRQ 26h", "rw") }}
{{ td("EK10", "IRQ 28h", "rw") }}
{{ register("$25") }}
{{ td("EK07", "IRQ 2Ah", "rw") }}
{{ td("EK06", "IRQ 2Ch", "rw") }}
{{ td("EK05", "IRQ 2Eh", "rw") }}
{{ td("EK04", "IRQ 30h", "rw") }}
{{ td("EK03", "IRQ 32h", "rw") }}
{{ td("EK02", "IRQ 34h", "rw") }}
{{ td("EK01", "IRQ 36h", "rw") }}
{{ td("EK00", "IRQ 38h", "rw") }}
{{ register("$26") }}
{{ td("EP0", "IRQ 1Eh", "rw") }}
{{ td("EP6", "IRQ 20h", "rw") }}
{{ td("", "IRQ ???", "rw") }}
{{ td("", "IRQ ???", "rw") }}
{{ unused(1) }}
{{ td("", "IRQ 3Ah", "rw") }}
{{ td("", "IRQ 3Ch", "rw") }}
{{ td("", "IRQ 3Eh", "rw") }}
{{ register("$27", "IRQ_ACT", "IRQ Factor", 4, "irq.md") }}
{{ td("FLCD", "IRQ 06h", "sr") }}
{{ td("FLCFR", "IRQ 08h", "sr") }}
{{ td("FTU3", "IRQ 0Ah", "sr") }}
{{ td("FTU2", "IRQ 0Ch", "sr") }}
{{ td("FTU1", "IRQ 0Eh", "sr") }}
{{ td("FTU0", "IRQ 10h", "sr") }}
{{ td("FTU5", "IRQ 12h", "sr") }}
{{ td("FTC5", "IRQ 14h", "sr") }}
{{ register("$28") }}
{{ unused(2) }}
{{ td("FTM32", "IRQ 16h", "sr") }}
{{ td("FTM8", "IRQ 18h", "sr") }}
{{ td("FTM2", "IRQ 1Ah", "sr") }}
{{ td("FTM1", "IRQ 1Ch", "sr") }}
{{ td("FK11", "IRQ 26h", "sr") }}
{{ td("FK10", "IRQ 28h", "sr") }}
{{ register("$29") }}
{{ td("FK07", "IRQ 2Ah", "sr") }}
{{ td("FK06", "IRQ 2Ch", "sr") }}
{{ td("FK05", "IRQ 2Eh", "sr") }}
{{ td("FK04", "IRQ 30h", "sr") }}
{{ td("FK03", "IRQ 32h", "sr") }}
{{ td("FK02", "IRQ 34h", "sr") }}
{{ td("FK01", "IRQ 36h", "sr") }}
{{ td("FK00", "IRQ 38h", "sr") }}
{{ register("$2A") }}
{{ td("FP0", "IRQ 1Eh", "sr") }}
{{ td("FP6", "IRQ 20h", "sr") }}
{{ td("", "IRQ ???", "sr") }}
{{ td("", "IRQ ???", "sr") }}
{{ unused(1) }}
{{ td("", "IRQ 3Ah", "sr") }}
{{ td("", "IRQ 3Ch", "sr") }}
{{ td("", "IRQ 3Eh", "sr") }}
{{ register("$30", "TMR1_CTRL_L", "PTM_A Control (Lo)", 1, "timers.md#ptm_a") }}
{{ td("MODE16_A", "16-bit Mode", "rw") }}
{{ unused(3) }}
{{ td("PTOUT0", "", "rw") }}
{{ td("PTRUN0", "Enable", "rw") }}
{{ td("PSET0", "Reset", "wo") }}
{{ td("CKSEL0", "", "rw") }}
{{ register("$31", "TMR1_CTRL_H", "PTM_A Control (Hi)", 1, "timers.md#ptm_a") }}
{{ unused(4) }}
{{ td("PTOUT1", "", "rw") }}
{{ td("PTRUN1", "Enable", "rw") }}
{{ td("PSET1", "Reset", "wo") }}
{{ td("CKSEL1", "", "rw") }}
{{ register("$32", "TMR1_PRE_L", "PTM_A Preset (Lo)", 1, "timers.md#ptm_a") }}
{{ td("RDR0", "Preset", "rw", 8) }}
{{ register("$33", "TMR1_PRE_H", "PTM_A Preset (Hi)", 1, "timers.md#ptm_a") }}
{{ td("RDR1", "Preset", "rw", 8) }}
{{ register("$34", "TMR1_PVT_L", "PTM_A Compare (Lo)", 1, "timers.md#ptm_a") }}
{{ td("CDR0", "Compare data", "rw", 8) }}
{{ register("$35", "TMR1_PVT_H", "PTM_A Compare (Hi)", 1, "timers.md#ptm_a") }}
{{ td("CDR1", "Compare data", "rw", 8) }}
{{ register("$36", "TMR1_CNT_L", "PTM_A Count (Lo)", 1, "timers.md#ptm_a") }}
{{ td("PTM0", "Count", "ro", 8) }}
{{ register("$37", "TMR1_CNT_H", "PTM_A Count (Hi)", 1, "timers.md#ptm_a") }}
{{ td("PTM1", "Count", "ro", 8) }}
{{ register("$38", "TMR2_CTRL_L", "PTM_B Control (Lo)", 1, "timers.md#ptm_b") }}
{{ td("MODE16_B", "16-bit Mode", "rw") }}
{{ unused(3) }}
{{ td("PTOUT2", "", "rw") }}
{{ td("PTRUN2", "Enable", "rw") }}
{{ td("PSET2", "Reset", "wo") }}
{{ td("CKSEL2", "", "rw") }}
{{ register("$39", "TMR2_CTRL_H", "PTM_B Control (Hi)", 1, "timers.md#ptm_b") }}
{{ unused(4) }}
{{ td("PTOUT3", "", "rw") }}
{{ td("PTRUN3", "Enable", "rw") }}
{{ td("PSET3", "Reset", "wo") }}
{{ td("CKSEL3", "", "rw") }}
{{ register("$3A", "TMR2_PRE_L", "PTM_B Preset (Lo)", 1, "timers.md#ptm_b") }}
{{ td("RDR2", "Preset", "rw", 8) }}
{{ register("$3B", "TMR2_PRE_H", "PTM_B Preset (Hi)", 1, "timers.md#ptm_b") }}
{{ td("RDR3", "Preset", "rw", 8) }}
{{ register("$3C", "TMR2_PVT_L", "PTM_B Compare (Lo)", 1, "timers.md#ptm_b") }}
{{ td("CDR2", "Compare data", "rw", 8) }}
{{ register("$3D", "TMR2_PVT_H", "PTM_B Compare (Hi)", 1, "timers.md#ptm_b") }}
{{ td("CDR3", "Compare data", "rw", 8) }}
{{ register("$3E", "TMR2_CNT_L", "PTM_B Count (Lo)", 1, "timers.md#ptm_b") }}
{{ td("PTM2", "Count", "ro", 8) }}
{{ register("$3F", "TMR2_CNT_H", "PTM_B Count (Hi)", 1, "timers.md#ptm_b") }}
{{ td("PTM3", "Count", "ro", 8) }}
{{ register("$40", "TMR256_CTRL", "Clock Timer Control", 1, "timers.md#clock-timer") }}
{{ unused(6) }}
{{ td("TMRST", "Reset", "wo") }}
{{ td("TMRUN", "Enable", "rw") }}
{{ register("$41", "TMR256_CNT", "Clock Timer Counter", 1, "timers.md#clock-timer") }}
{{ td("TMD", "Count", "ro", 8) }}
{{ unk_register("$44") }}
{{ td("", "???", "unk-rw", 4) }}
{{ td("", "???", "unk-x") }}
{{ td("", "???", "unk-rw", 3) }}
{{ unk_register("$45") }}
{{ td("", "???", "unk-x", 4) }}
{{ td("", "???", "unk-q") }}
{{ td("", "???", "unk-rw") }}
{{ td("", "???", "unk-q") }}
{{ td("", "???", "unk-rw") }}
{{ unk_register("$46") }}
{{ td("", "???", "unk-rw", 8) }}
{{ unk_register("$47") }}
{{ td("", "???", "unk-x", 4) }}
{{ td("", "???", "unk-rw", 4) }}
{{ register("$48", "TMR3_CTRL_L", "PTM_C Control (Lo)", 1, "timers.md#ptm_c") }}
{{ td("MODE16_C", "16-bit Mode", "rw") }}
{{ unused(3) }}
{{ td("PTOUT4", "", "rw") }}
{{ td("PTRUN4", "Enable", "rw") }}
{{ td("PSET4", "Reset", "wo") }}
{{ td("CKSEL4", "", "rw") }}
{{ register("$49", "TMR3_CTRL_H", "PTM_C Control (Hi)", 1, "timers.md#ptm_c") }}
{{ unused(4) }}
{{ td("PTOUT5", "", "rw") }}
{{ td("PTRUN5", "Enable", "rw") }}
{{ td("PSET5", "Reset", "wo") }}
{{ td("CKSEL5", "", "rw") }}
{{ register("$4A", "TMR3_PRE_L", "PTM_C Preset (Lo)", 1, "timers.md#ptm_c") }}
{{ td("RDR4", "Preset", "rw", 8) }}
{{ register("$4B", "TMR3_PRE_H", "PTM_C Preset (Hi)", 1, "timers.md#ptm_c") }}
{{ td("RDR5", "Preset", "rw", 8) }}
{{ register("$4C", "TMR3_PVT_L", "PTM_C Compare (Lo)", 1, "timers.md#ptm_c") }}
{{ td("CDR4", "Compare data", "rw", 8) }}
{{ register("$4D", "TMR3_PVT_H", "PTM_C Compare (Hi)", 1, "timers.md#ptm_c") }}
{{ td("CDR5", "Compare data", "rw", 8) }}
{{ register("$4E", "TMR3_CNT_L", "PTM_C Count (Lo)", 1, "timers.md#ptm_c") }}
{{ td("PTM4", "Count", "ro", 8) }}
{{ register("$4F", "TMR3_CNT_H", "PTM_C Count (Hi)", 1, "timers.md#ptm_c") }}
{{ td("PTM5", "Count", "ro", 8) }}
{{ register("$50", "", "Keypad IRQ edge", 1, "irq.md#kcp1--kcp0") }}
{{ td("KCP07", "Power", "rw")}}
{{ td("KCP06", "Right", "rw")}}
{{ td("KCP05", "Left", "rw")}}
{{ td("KCP04", "Down", "rw")}}
{{ td("KCP03", "Up", "rw")}}
{{ td("KCP02", "C", "rw")}}
{{ td("KCP01", "B", "rw")}}
{{ td("KCP00", "A", "rw")}}
{{ register("$51", "", "Cartridge IRQ edge", 1, "irq.md#kcp1--kcp0") }}
{{ unused(6) }}
{{ td("KCP11", "Eject", "rw") }}
{{ td("KCP10", "Cartridge?", "rw") }}
{{ register("$52", "KEY_PAD", "Keypad Status (Active 0)", 1, "input.md") }}
{{ td("K07D", "Power", "ro") }}
{{ td("K06D", "Right", "ro") }}
{{ td("K05D", "Left", "ro") }}
{{ td("K04D", "Down", "ro") }}
{{ td("K03D", "Up", "ro") }}
{{ td("K02D", "C", "ro") }}
{{ td("K01D", "B", "ro") }}
{{ td("K00D", "A", "ro") }}
{{ register("$53", "CART_BUS", "Cart Bus", 1, "input.md") }}
{{ unused(6) }}
{{ td("K11D", "CARD_N", "ro") }}
{{ td("K10D", "", "ro") }}
{{ register("$54", "", "unconfirmed", 1, "irq.md#ctk") }}
{{ unused(1) }}
{{ td("CTK0H", "Unused?", "unk-rw", 3) }}
{{ unused(1) }}
{{ td("CTK0L", "Keypad debounce rate?", "unk-rw", 3) }}
{{ register("$55", "", "unconfirmed", 1, "irq.md#ctk") }}
{{ unused(5) }}
{{ td("CTK1L", "Cartridge debounce rate?", "unk-rw", 3) }}
{{ register("$60", "IO_DIR", "I/O Direction Select", 1, "io.md") }}
{{ td("IOC07", "???", "rw") }}
{{ td("IOC06", "Shock", "rw") }}
{{ td("IOC05", "IR Disable", "rw") }}
{{ td("IOC04", "Rumble", "rw") }}
{{ td("IOC03", "EEPROM Clock", "rw") }}
{{ td("IOC02", "EEPROM Data", "rw") }}
{{ td("IOC01", "IR Tx", "rw") }}
{{ td("IOC00", "IR Rx", "rw") }}
{{ register("$61", "IO_DATA", "I/O Data Register", 1, "io.md") }}
{{ td("P07D", "???", "rw") }}
{{ td("P06D", "Shock", "rw") }}
{{ td("P05D", "IR Disable", "rw") }}
{{ td("P04D", "Rumble", "rw") }}
{{ td("P03D", "EEPROM Clock", "rw") }}
{{ td("P02D", "EEPROM Data", "rw") }}
{{ td("P01D", "IR Tx", "rw") }}
{{ td("P00D", "IR Rx", "rw") }}
{{ unk_register("$62") }}
{{ td("", "???", "unk-rw", 4) }}
{{ td("", "???", "unk-x", 4) }}
{{ register("$70", "AUD_CTRL", "Audio Control") }}
{{ unused(5) }}
{{ td("", "???", "unk-rw") }}
{{ td("", "Mutes audio if not 0!?", "unk-rw", 2, "audio.md#2070-bits-10") }}
{{ register("$71", "AUD_VOL", "Audio Volume") }}
{{ unused(5) }}
{{ td("", "Cart Power (1=Off; 0=On)", "rw", 1, "power.md") }}
{{ td("", "Volume", "rw", 2, "audio.md#volume") }}
{{ register("$80", "PRC_MODE", "LCD Controller Settings", 1, "lcd.md#lcd-controller") }}
{{ unused(2) }}
{{ td("", "Map Size", "rw", 2) }}
{{ td("", "Enable Render", "rw") }}
{{ td("", "Enable Sprites", "rw") }}
{{ td("", "Enable Map", "rw") }}
{{ td("", "Invert Map", "rw") }}
{{ register("$81", "PRC_RATE", "LCD Rate Control", 1, "lcd.md#frame-rate") }}
{{ td("", "Frame counter", "ro", 4) }}
{{ td("", "Rate divider", "rw", 3) }}
{{ td("LCDEN", "Enabled", "rw") }}
{{ register("$82", "PRC_MAP", "PRC Map Tile Base", 3, "lcd.md#tilemap") }}
{{ td("", "Map Tile Base (low)", "rw", 5) }}
{{ unused(3) }}
{{ register("$83") }}
{{ td("", "Map Tile Base (mid)", "rw", 8) }}
{{ register("$84") }}
{{ unused(3) }}
{{ td("", "Map Tile Base (high)", "rw", 5) }}
{{ register("$85", "PRC_SCROLL_Y", "PRC Map Vertical Scroll", 1, "lcd.md#scrolling") }}
{{ unused(1) }}
{{ td("", "Map Scroll Y", "rw", 7) }}
{{ register("$86", "PRC_SCROLL_X", "PRC Map Horizontal Scroll", 1, "lcd.md#scrolling") }}
{{ unused(1) }}
{{ td("", "Map Scroll X", "rw", 7) }}
{{ register("$87", "PRC_SPR", "PRC Sprite Tile Base", 3, "lcd.md#sprites") }}
{{ td("", "Sprite Tile Base (low)", "rw", 2) }}
{{ unused(6) }}
{{ register("$88") }}
{{ td("", "Sprite Tile Base (mid)", "rw", 8) }}
{{ register("$89") }}
{{ unused(3) }}
{{ td("", "Sprite Tile Base (high)", "rw", 5) }}
{{ register("$8A", "PRC_CNT", "LCD Line Counter", 1, "lcd.md#lcd-line-counter") }}
{{ unused(1) }}
{{ td("", "Count", "ro", 7) }}
{{ unk_register("$8B", "returns 0", 13) }}
{{ unused(8) }}
{{ unk_reg_cont("$8C") }}
{{ unused(8) }}
{{ unk_reg_cont("$8D") }}
{{ unused(8) }}
{{ unk_reg_cont("$8E") }}
{{ unused(8) }}
{{ unk_reg_cont("$8F") }}
{{ unused(8) }}
{{ unk_reg_cont("$F0") }}
{{ unused(8) }}
{{ unk_reg_cont("$F1") }}
{{ unused(8) }}
{{ unk_reg_cont("$F2") }}
{{ unused(8) }}
{{ unk_reg_cont("$F3") }}
{{ unused(8) }}
{{ unk_reg_cont("$F4") }}
{{ unused(8) }}
{{ unk_reg_cont("$F5") }}
{{ unused(8) }}
{{ unk_reg_cont("$F6") }}
{{ unused(8) }}
{{ unk_reg_cont("$F7") }}
{{ unused(8) }}
{{ register("$FE", "LCD_CTRL", "LCD Raw Control Byte", 1, "lcd.md") }}
{{ td("", "LCD Control I/O", "rw", 8) }}
{{ register("$FF", "LCD_DATA", "LCD Raw Data Byte", 1, "lcd.md") }}
{{ td("", "LCD Data I/O", "rw", 8) }}
{{ table_end() }}
